
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(249, 249, 249);
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #775214;
    color: rgb(255, 255, 255);
    padding: 40px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 10px 0;
    font-size: 18px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
   
        background-color: rgb(84, 108, 18);
color: #775214;        
        height: 36px;
        width: 105px;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 8px;
      }

nav a:hover {
    color: rgb(91, 248, 0); /* Change color on hover */
}

main {
    background-color: rgba(229, 125, 7, 0.631);
    padding: 40px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(60, 54, 36, 0.938);
}

.project {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    header {
        padding: 20px 0;
        color: chocolate;
    }

    header h1 {
        font-size: 28px;
    }

    header p {
        font-size: 16px;
    }
}

